body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

header {
  background-color: #000;
  padding: 10px 20px;
  color: #fff;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 80px;
}

.search-bar input {
  width: 600px;
  padding: 8px;
}

.user-actions .action-button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.menu-bar {
  background-color: #fff;
  padding: 10px 20px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu li a {
  color: #000;
  text-decoration: none;
  padding: 8px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  z-index: 1;
  padding: 10px 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  display: block;
  margin-left: 20px;
}

.carousel {
  position: relative;
  max-width: 100%;
  margin-top: 100px;
  text-align: center;
}

.slide {
  display: none;
}

.slide img {
  width: 30%;
  height: 200px;
  object-fit: cover;
}

.carousel p {
  margin-top: 10px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  color: white;
  background-color: black;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
}

.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-menu li {
  display: inline-block;
  margin-right: 10px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-menu li a {
  color: #fff;
  text-decoration: none;
}

.footer-text {
  color: #777;
}

@media screen and (max-width: 768px) {
  .footer-menu {
    display: block;
    text-align: center;
  }

  .footer-menu li {
    display: block;
    margin: 0;
    margin-bottom: 5px;
  }
}

/* Adjustments for slide content */
.slide-content {
  background-color: #fff;
  padding: 10px;
  text-align: left;
}

.slide-content h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.slide-content p {
  margin-bottom: 10px;
}
